/* body{
    background-color: skyblue;
} */
 .navbar{
    height:5rem;
    background-color: white;
 }
 .fa-compass {
    color: #fe424d;
    font-size:2rem;
 }
 .nav-link{
    color:#222222 !important;
 }

 /* Footer */
 .f-info-links a {
    text-decoration:none ;
    color:#222222;
      
 }

  .f-info-links a:hover {
    text-decoration:underline ;
    }
.f-info-links{
    width:100%;
}

.f-info-socials, .f-info-brand{
    font-size:1.2rem;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
  
}
.f-info-socials i{
    margin-right:1rem;
}

.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:space-evenly;
}
.card{
    border:none !important;
}
.listing-links{
    color:black;
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
    
}
.card-img-overlay:hover {
    opacity:0.2;
    background-color: white;
}